$textColor: #27282d;
$greyColor: #999999;
$lightColor: #f9f9f9;
$fontSize: 20px;
$mainFont: 'futura-lt-book', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$titleFont: 'futura-lt-heavy', sans-serif;