@import "variables";
@import "icons";
@import "mixins";
@import "media-queries";
@import "reset";
@import "effects/colorful";
@import "effects/links";

$boxWidth: 700px;
$boxPadding: 30px;

html, body {
  color: $textColor;
  font: $fontSize / 1 $mainFont;
  font-weight: normal;
  font-style: normal;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
  @include transition(all, 0.3s, ease-out);
}
::-webkit-scrollbar-track {
  background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
  width: 8px;
  background-color: #CCC;
  @include transition(all, 0.3s, ease-out);
}
::-webkit-scrollbar-thumb:hover {
  background-color: #AAA;
}
::-webkit-scrollbar-thumb:active {
  background-color: #444;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.change {
  cursor: help;
  &.changed {
    color: $greyColor;
  }
}

a {
  &:link, &:visited, &:focus {
    color: $textColor;
    text-decoration: none;
  }
  &:hover, &:active {
    font-weight: bold;
  }
}

#logo {
  img {
    width: 100%;
    max-width: 300px;
    height: auto;
  }
}

p {
  margin-top: 0;
  font-size: 40px;
  &:last-child {
    margin-bottom: 0;
  }
  @include tablet {
    font-size: 40px;
  }
  @include phone {
    font-size: 30px;
  }
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.block {
  margin: 0 auto;
  width: 100%;
  > div {
    width: $boxWidth;
    padding: $boxPadding;
    margin: 0 auto;
    @include tablet {
      width: 100% !important;
    }
  }
  &.block-spaced {
    height: 200vh;
    display: flex;
    align-items: center;
  }
  &.block-inverse {
    background-color: $textColor;
    color: #FFF;
  }
  &.block-double {
    background-color: $textColor;
    padding: 50vh 0;
    > div {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      padding: 0;
      > div {
        width: 100%;
        display: flex;
        padding: 0;
        align-items: center;
        justify-content: center;
        height: 140px;
        > div {
          font-size: 26px;
          width: 350px;
          padding: $boxPadding;
          height: 100%;
          color: #FFF;
          &:first-child {
            text-align: right;
          }
        }
      }
    }
  }
}

.cloud {
  > div {
    word-break: break-all;
    word-wrap: break-word;
    text-align: justify;
    span {
      font-size: 40px;
      &:nth-child(even) {
        font-weight: bold;
      }
    }
  }
}

.life {
  a {
    &:link, &:visited, &:focus {
      text-decoration: underline;
      color: #FFF;
    }
    &:hover, &:active {
      text-decoration: none !important;
      font-weight: normal;
    }
  }
}

h1 {
  margin: 0;
  font-size: 80px;
}
h2 {
  margin: 0;
  font-size: 22px;
  text-transform: uppercase;
}
h1, h2 {
  font-weight: 600;
}

header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  > div {
    &:first-child {
      height: 100%;
      display: flex;
      align-items: center;
    }
    &.block-inverse {
      cursor: none;
      @include avoid-select();
    }
  }
  #see-this-on-github {
    position: absolute;
    top: 50px;
    right: 50px;
    text-transform: uppercase;
    font-size: 11px;
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    padding-left: 7px;
    padding-right: 29px;
    height: 26px;
    @include border-radius(24px);
    &:hover, &:active {
      border-color: $textColor;
      font-weight: normal;
      svg {
        @include transform(rotate(30deg));
      }
    }
    svg {
      position: absolute;
      right: 0;
      top: 0;
      @include transition(transform, 0.2s, ease-out);
      margin-left: 5px;
    }
  }
}


footer.block {
  height: 100vh;
  padding: $boxPadding;
  > div {
    width: $boxWidth - ($boxPadding * 2);
    background-color: $lightColor;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    #cv {
      position: absolute;
      bottom: 15px;
      right: 15px;
      font-style: italic;
      font-size: 11px;
    }
  }
  ul {
    text-align: center;
    li {
      font-size: 18px;
      font-family: brandon-grotesque-regular, sans-serif;
    }
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 6px 0;
      span {
        margin: 0 3px;
      }
      .icon {
        display: none;
      }
      &:hover {
        .icon {
          display: inline-block;
        }
      }
    }
  }
}

@include tablet {

  h1 {
    font-size: 10vw;
  }
  h2 {
    font-size: 4vw;
  }

  #logo {
    img {
      max-width: 40vw;
    }
  }

  p {
    font-size: 6vw;
  }

  .block {
    &.block-double {
      > div {
        > div {
          flex-direction: column;
          height: auto;
          padding: $boxPadding;
          text-align: center;
          > div {
            font-size: 6vw;
            padding-left: 0;
            padding-right: 0;
            width: 100%;
            max-width: 360px;
            padding-bottom: 0;
            &:first-child {
              text-align: center;
              margin-bottom: 10px;
            }
            &:last-child {
              padding-top: 0;
            }
          }
        }
      }
    }
  }

  .cloud {
    > div {
      span {
        font-size: 6vw;
      }
    }
  }

}

@include phablet {

  h1 {
    font-size: 11vw;
  }
  h2 {
    font-size: 5vw;
  }

  header {
    #see-this-on-github {
      top: 30px;
      right: 30px;
    }
  }

  #logo {
    img {
      max-width: 50vw;
    }
  }

  .block {
    &.block-double {
      > div {
        > div {
          > div {
            font-size: 6vw;
          }
        }
      }
    }
  }

  p {
    font-size: 7vw;
  }

  .cloud {
    > div {
      span {
        font-size: 7vw;
      }
    }
  }

}

@include phone {

  h1 {
    font-size: 12vw;
  }
  h2 {
    font-size: 5vw;
  }

  header {
    text-align: center;
  }

  #logo {
    img {
      max-width: 60vw;
    }
  }

}

@media (max-height: 520px) and (min-height: 481px) {

  header {
    padding-top: 30px;
  }
  #see-this-on-github {
    top: 20px;
    right: 20px;
  }

}

@media (max-height: 480px) {

  #see-this-on-github {
    display: none;
  }

}