@font-face {
  font-family: 'oscar';
  src: url("/fonts/oscar/oscar.eot");
  src: url("/fonts/oscar/oscar.eot?#iefix") format("embedded-opentype"), url("/fonts/oscar/oscar.woff2") format("woff2"), url("/fonts/oscar/oscar.woff") format("woff"), url("/fonts/oscar/oscar.ttf") format("truetype"), url("/fonts/oscar/oscar.svg#uala") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'maison-neue-bold';
  src: url("/fonts/maison-neue/maison-neue_bold.eot");
  src: url("/fonts/maison-neue/maison-neue_bold.eot?#iefix") format("embedded-opentype"), url("/fonts/oscar/oscar.woff2") format("woff2"), url("/fonts/maison-neue/maison-neue_bold.woff") format("woff"), url("/fonts/maison-neue/maison-neue_bold.ttf") format("truetype"), url("/fonts/maison-neue/maison-neue_bold.svg#uala") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'brandon-grotesque-regular';
  src: url("/fonts/brandon-grotesque/brandon-grotesque_regular.eot");
  src: url("/fonts/brandon-grotesque/brandon-grotesque_regular.eot?#iefix") format("embedded-opentype"), url("/fonts/brandon-grotesque/brandon-grotesque_regular.woff2") format("woff2"), url("/fonts/brandon-grotesque/brandon-grotesque_regular.woff") format("woff"), url("/fonts/brandon-grotesque/brandon-grotesque_regular.ttf") format("truetype"), url("/fonts/brandon-grotesque/brandon-grotesque_regular.svg#brandongrotesque-regularbook") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'brandon-grotesque-medium';
  src: url("/fonts/brandon-grotesque/brandon-grotesque_medium.eot");
  src: url("/fonts/brandon-grotesque/brandon-grotesque_medium.eot?#iefix") format("embedded-opentype"), url("/fonts/brandon-grotesque/brandon-grotesque_medium.woff2") format("woff2"), url("/fonts/brandon-grotesque/brandon-grotesque_medium.woff") format("woff"), url("/fonts/brandon-grotesque/brandon-grotesque_medium.ttf") format("truetype"), url("/fonts/brandon-grotesque/brandon-grotesque_medium.svg#brandongrotesque-mediumbook") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'futura-lt-book';
  src: url("/fonts/futura-lt/futuralt-book.eot");
  src: url("/fonts/futura-lt/futuralt-book.eot?#iefix") format("embedded-opentype"), url("/fonts/futura-lt/futuralt-book.woff2") format("woff2"), url("/fonts/futura-lt/futuralt-book.woff") format("woff"), url("/fonts/futura-lt/futuralt-book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'futura-lt-heavy';
  src: url("/fonts/futura-lt/futuralt-heavy.eot");
  src: url("/fonts/futura-lt/futuralt-heavy.eot?#iefix") format("embedded-opentype"), url("/fonts/futura-lt/futuralt-heavy.woff2") format("woff2"), url("/fonts/futura-lt/futuralt-heavy.woff") format("woff"), url("/fonts/futura-lt/futuralt-heavy.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'futura-lt-light';
  src: url("/fonts/futura-lt/futuralt-light.eot");
  src: url("/fonts/futura-lt/futuralt-light.eot?#iefix") format("embedded-opentype"), url("/fonts/futura-lt/futuralt-light.woff2") format("woff2"), url("/fonts/futura-lt/futuralt-light.woff") format("woff"), url("/fonts/futura-lt/futuralt-light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'futura-lt-regular';
  src: url("/fonts/futura-lt/futuralt.eot");
  src: url("/fonts/futura-lt/futuralt.eot?#iefix") format("embedded-opentype"), url("/fonts/futura-lt/futuralt.woff2") format("woff2"), url("/fonts/futura-lt/futuralt.woff") format("woff"), url("/fonts/futura-lt/futuralt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

.icon {
  font-family: 'oscar';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-hat:before {
  content: "\e800"; }

.icon-phone:before {
  content: "\e801"; }

.icon-email:before {
  content: "\e802"; }

.icon-facebook:before {
  content: "\e803"; }

.icon-google:before {
  content: "\e804"; }

.icon-twitter:before {
  content: "\e805"; }

.icon-linkedin:before {
  content: "\e806"; }

.icon-github:before {
  content: "\e807"; }

.icon-skype:before {
  content: "\e808"; }

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.colorful {
  cursor: pointer;
  font-style: italic;
  position: relative;
  display: inline-block;
  color: #286aab;
  -webkit-transition: color 0.7s;
  transition: color 0.7s;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.colorful.colorful--click,
.colorful:focus {
  outline: none; }

.colorful__icon {
  display: block; }

.colorful::after {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  content: '';
  opacity: 0;
  pointer-events: none; }

.colorful--color-1 {
  color: #ff8b00; }

.colorful--color-2 {
  color: #b61854; }

.colorful--color-3 {
  color: #1d5cab; }

.colorful--color-4 {
  color: #f2438c; }

.colorful--color-5 {
  color: #ff6414; }

.colorful--color-6 {
  color: #5ed500; }

.colorful--color-7 {
  color: #0077ff; }

.colorful--color-8 {
  color: #7bff00; }

.colorful--effect-oscar::after {
  margin: -4px 0 0 -4px;
  width: 8px;
  height: 8px; }

.colorful--color-1.colorful--effect-oscar::after {
  background: #ff8b00; }

.colorful--color-2.colorful--effect-oscar::after {
  background: #b61854; }

.colorful--color-3.colorful--effect-oscar::after {
  background: #1d5cab; }

.colorful--color-4.colorful--effect-oscar::after {
  background: #f2438c; }

.colorful--color-5.colorful--effect-oscar::after {
  background: #ff6414; }

.colorful--color-6.colorful--effect-oscar::after {
  background: #5ed500; }

.colorful--color-7.colorful--effect-oscar::after {
  background: #0077ff; }

.colorful--color-8.colorful--effect-oscar::after {
  background: #7bff00; }

.colorful--effect-oscar .colorful__helper {
  position: absolute;
  bottom: 0;
  opacity: 0;
  pointer-events: none; }

.colorful--effect-oscar .colorful__helper--first {
  left: 0;
  width: 30px;
  height: 30px;
  -webkit-transform-origin: -40% 50%;
  transform-origin: -40% 50%; }

.colorful--effect-oscar .colorful__helper--second {
  left: 10px;
  width: 30px;
  height: 60px;
  -webkit-transform-origin: 140% 50%;
  transform-origin: 140% 50%; }

.colorful--effect-oscar .colorful__helper img {
  position: absolute;
  top: 0;
  left: 0; }

.colorful--effect-oscar.colorful--click .colorful__helper--first {
  -webkit-animation: anim-effect-oscar-1 0.3s ease-out forwards;
  animation: anim-effect-oscar-1 0.3s ease-out forwards; }

.colorful--effect-oscar.colorful--click .colorful__helper--second {
  -webkit-animation: anim-effect-oscar-2 0.3s ease-out forwards;
  animation: anim-effect-oscar-2 0.3s ease-out forwards; }

.colorful--effect-oscar.colorful--click .colorful__helper--first img,
.colorful--effect-oscar.colorful--click .colorful__helper--second img {
  -webkit-animation: anim-effect-oscar-3 0.3s ease-in forwards;
  animation: anim-effect-oscar-3 0.3s ease-in forwards; }

.colorful--effect-oscar.colorful--click::after {
  -webkit-animation: anim-effect-oscar-4 0.3s ease-out forwards;
  animation: anim-effect-oscar-4 0.3s ease-out forwards; }

@-webkit-keyframes anim-effect-oscar-1 {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: rotate3d(0, 0, 1, -90deg);
    transform: rotate3d(0, 0, 1, -90deg); } }

@keyframes anim-effect-oscar-1 {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: rotate3d(0, 0, 1, -90deg);
    transform: rotate3d(0, 0, 1, -90deg); } }

@-webkit-keyframes anim-effect-oscar-2 {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: rotate3d(0, 0, 1, 90deg);
    transform: rotate3d(0, 0, 1, 90deg); } }

@keyframes anim-effect-oscar-2 {
  0% {
    opacity: 1; }
  100% {
    opacity: 0;
    -webkit-transform: rotate3d(0, 0, 1, 90deg);
    transform: rotate3d(0, 0, 1, 90deg); } }

@-webkit-keyframes anim-effect-oscar-3 {
  0% {
    -webkit-transform: scale3d(0.4, 0.4, 1);
    transform: scale3d(0.4, 0.4, 1); }
  50% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

@keyframes anim-effect-oscar-3 {
  0% {
    -webkit-transform: scale3d(0.4, 0.4, 1);
    transform: scale3d(0.4, 0.4, 1); }
  50% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out; }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1); } }

@-webkit-keyframes anim-effect-oscar-4 {
  0% {
    opacity: 1;
    -webkit-transform: scale3d(0.1, 0.1, 1);
    transform: scale3d(0.1, 0.1, 1); }
  80% {
    opacity: 0.7;
    -webkit-transform: translate3d(0, -70px, 0) scale3d(1, 1, 1);
    transform: translate3d(0, -70px, 0) scale3d(1, 1, 1); }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -60px, 0) scale3d(1, 1, 1);
    transform: translate3d(0, -60px, 0) scale3d(1, 1, 1); } }

@keyframes anim-effect-oscar-4 {
  0% {
    opacity: 1;
    -webkit-transform: scale3d(0.1, 0.1, 1);
    transform: scale3d(0.1, 0.1, 1); }
  80% {
    opacity: 0.7;
    -webkit-transform: translate3d(0, -70px, 0) scale3d(1, 1, 1);
    transform: translate3d(0, -70px, 0) scale3d(1, 1, 1); }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -60px, 0) scale3d(1, 1, 1);
    transform: translate3d(0, -60px, 0) scale3d(1, 1, 1); } }

@media (min-width: 768px) {
  .linkful a {
    display: inline-block;
    padding: 8px 5px;
    bottom: -12px;
    margin: 0 -3px;
    text-shadow: none;
    -webkit-transition: color 0.3s ease-out;
    -moz-transition: color 0.3s ease-out;
    -ms-transition: color 0.3s ease-out;
    -o-transition: color 0.3s ease-out;
    transition: color 0.3s ease-out;
    position: relative;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden; }
    .linkful a > * {
      -webkit-transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      -ms-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out; }
    .linkful a .s1 {
      display: inline-block;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      backface-visibility: hidden; }
    .linkful a .s2 {
      text-align: center;
      left: 0;
      top: -100%;
      width: 100%;
      position: absolute; }
      .linkful a .s2.with-image {
        line-height: 0; }
    .linkful a:hover .s1, .linkful a:active .s1 {
      -webkit-transform: translateY(300%);
      -moz-transform: translateY(300%);
      -ms-transform: translateY(300%);
      -o-transform: translateY(300%);
      transform: translateY(300%); }
    .linkful a:hover .s2, .linkful a:active .s2 {
      top: 50%;
      -webkit-transform: translate(0, -50%);
      -moz-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      -o-transform: translate(0, -50%);
      transform: translate(0, -50%); }
  .linkful.black a:before, .linkful.black a:after, .linkful a.black:before, .linkful a.black:after {
    background: #000; }
  .linkful.black a:hover, .linkful.black a:focus, .linkful a.black:hover, .linkful a.black:focus {
    color: #000; }
  .linkful.dark-blue a:before, .linkful.dark-blue a:after, .linkful a.dark-blue:before, .linkful a.dark-blue:after {
    background: #1d4058; }
  .linkful.dark-blue a:hover, .linkful.dark-blue a:focus, .linkful a.dark-blue:hover, .linkful a.dark-blue:focus {
    color: #1d4058; }
  .linkful.yellow a:before, .linkful.yellow a:after, .linkful a.yellow:before, .linkful a.yellow:after {
    background: #f8f398; }
  .linkful.yellow a:hover, .linkful.yellow a:focus, .linkful a.yellow:hover, .linkful a.yellow:focus {
    color: #f8f398; }
  .linkful.sand a:before, .linkful.sand a:after, .linkful a.sand:before, .linkful a.sand:after {
    background: #e3cc88; }
  .linkful.sand a:hover, .linkful.sand a:focus, .linkful a.sand:hover, .linkful a.sand:focus {
    color: #e3cc88; }
  .linkful.red a:before, .linkful.red a:after, .linkful a.red:before, .linkful a.red:after {
    background: #C00; }
  .linkful.red a:hover, .linkful.red a:focus, .linkful a.red:hover, .linkful a.red:focus {
    color: #C00; }
  .linkful.green a:before, .linkful.green a:after, .linkful a.green:before, .linkful a.green:after {
    background: #00a62d; }
  .linkful.green a:hover, .linkful.green a:focus, .linkful a.green:hover, .linkful a.green:focus {
    color: #00a62d; }
  .linkful.blue a:before, .linkful.blue a:after, .linkful a.blue:before, .linkful a.blue:after {
    background: #345aa6; }
  .linkful.blue a:hover, .linkful.blue a:focus, .linkful a.blue:hover, .linkful a.blue:focus {
    color: #345aa6; }
  .linkful a:before,
  .linkful a:after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    content: '';
    opacity: 0;
    -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: opacity 0.3s, -moz-transform 0.3s;
    transition: opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px); }
  .linkful a:before {
    top: 0;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px); }
  .linkful a:after {
    bottom: 0;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    transform: translateY(10px); }
  .linkful a:hover::before,
  .linkful a:focus::before,
  .linkful a:hover::after,
  .linkful a:focus::after {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px); } }

@media (max-width: 767px) {
  .linkful a .s2 {
    vertical-align: middle;
    margin-left: 3px; }
    .linkful a .s2.with-image, .linkful a .s2.with-text {
      display: none; } }

html, body {
  color: #27282d;
  font: 20px "futura-lt-book", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

::-webkit-scrollbar-track {
  background-color: #F5F5F5; }

::-webkit-scrollbar-thumb {
  width: 8px;
  background-color: #CCC;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

::-webkit-scrollbar-thumb:hover {
  background-color: #AAA; }

::-webkit-scrollbar-thumb:active {
  background-color: #444; }

.clearfix:before, .clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.change {
  cursor: help; }
  .change.changed {
    color: #999999; }

a:link, a:visited, a:focus {
  color: #27282d;
  text-decoration: none; }

a:hover, a:active {
  font-weight: bold; }

#logo img {
  width: 100%;
  max-width: 300px;
  height: auto; }

p {
  margin-top: 0;
  font-size: 40px; }
  p:last-child {
    margin-bottom: 0; }
  @media (max-width: 767px) {
    p {
      font-size: 40px; } }
  @media (max-width: 479px) {
    p {
      font-size: 30px; } }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.block {
  margin: 0 auto;
  width: 100%; }
  .block > div {
    width: 800px;
    padding: 30px;
    margin: 0 auto; }
    @media (max-width: 767px) {
      .block > div {
        width: 100% !important; } }
  .block.block-spaced {
    height: 200vh;
    display: flex;
    align-items: center; }
  .block.block-inverse {
    background-color: #27282d;
    color: #FFF; }
  .block.block-double {
    background-color: #27282d;
    padding: 50vh 0; }
    .block.block-double > div {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      padding: 0; }
      .block.block-double > div > div {
        width: 100%;
        display: flex;
        padding: 0;
        align-items: center;
        justify-content: center;
        height: 140px; }
        .block.block-double > div > div > div {
          font-size: 26px;
          width: 400px;
          padding: 30px;
          height: 100%;
          color: #FFF; }
          .block.block-double > div > div > div:first-child {
            text-align: right;
            font-size: 17px;
            text-transform: uppercase;
            padding-top: 37px; }

.cloud > div {
  word-break: break-all;
  word-wrap: break-word;
  text-align: justify; }
  .cloud > div span {
    font-size: 40px; }
    .cloud > div span:nth-child(even) {
      font-weight: bold; }

.life a:link, .life a:visited, .life a:focus {
  text-decoration: underline;
  color: #FFF; }

.life a:hover, .life a:active {
  text-decoration: none !important;
  font-weight: normal; }

.life2 {
  margin-top: 50px; }

h1 {
  margin: 0;
  font-size: 80px; }

h2 {
  margin: 0;
  font-size: 22px;
  text-transform: uppercase; }

h1, h2 {
  font-weight: 600; }

header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative; }
  header > div:first-child {
    height: 100%;
    display: flex;
    align-items: center; }
  header > div.block-inverse {
    cursor: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none; }
  header #see-this-on-github {
    position: absolute;
    top: 50px;
    right: 50px;
    text-transform: uppercase;
    font-size: 11px;
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    padding-left: 7px;
    padding-right: 29px;
    height: 26px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    border-radius: 24px; }
    header #see-this-on-github:hover, header #see-this-on-github:active {
      border-color: #27282d;
      font-weight: normal; }
      header #see-this-on-github:hover svg, header #see-this-on-github:active svg {
        -webkit-transform: rotate(30deg);
        -moz-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
        -o-transform: rotate(30deg);
        transform: rotate(30deg); }
    header #see-this-on-github svg {
      position: absolute;
      right: 0;
      top: 0;
      -webkit-transition: transform 0.2s ease-out;
      -moz-transition: transform 0.2s ease-out;
      -ms-transition: transform 0.2s ease-out;
      -o-transition: transform 0.2s ease-out;
      transition: transform 0.2s ease-out;
      margin-left: 5px; }

footer.block {
  height: 100vh;
  padding: 30px; }
  footer.block > div {
    width: 740px;
    background-color: #f9f9f9;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative; }
    footer.block > div #cv {
      position: absolute;
      bottom: 15px;
      right: 15px;
      font-style: italic;
      font-size: 11px; }
  footer.block ul {
    text-align: center; }
    footer.block ul li {
      font-size: 18px;
      font-family: brandon-grotesque-regular, sans-serif; }
    footer.block ul a {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 6px 0; }
      footer.block ul a span {
        margin: 0 3px; }
      footer.block ul a .icon {
        display: none; }
      footer.block ul a:hover .icon {
        display: inline-block; }

#scrollbar h2:last-child {
  display: none; }

#scrollbar.fixed {
  position: fixed; }

#scrollbar.text-change h2:first-child {
  display: none; }

#scrollbar.text-change h2:last-child {
  display: block; }

#scrollbar.disappear {
  display: none; }

@media (max-width: 767px) {
  h1 {
    font-size: 10vw; }
  h2 {
    font-size: 4vw; }
  #logo img {
    max-width: 40vw; }
  p {
    font-size: 6vw; }
  .block.block-double > div > div {
    flex-direction: column;
    height: auto;
    padding: 30px;
    text-align: center; }
    .block.block-double > div > div > div {
      font-size: 6vw;
      padding-left: 0;
      padding-right: 0;
      width: 100%;
      max-width: 360px;
      padding-bottom: 0; }
      .block.block-double > div > div > div:first-child {
        text-align: center;
        margin-bottom: 10px; }
      .block.block-double > div > div > div:last-child {
        padding-top: 0; }
  .cloud > div span {
    font-size: 6vw; } }

@media (max-width: 639px) {
  h1 {
    font-size: 11vw; }
  h2 {
    font-size: 5vw; }
  header #see-this-on-github {
    top: 30px;
    right: 30px; }
  #logo img {
    max-width: 50vw; }
  .block.block-double > div > div > div {
    font-size: 6vw; }
  p {
    font-size: 7vw; }
  .cloud > div span {
    font-size: 7vw; } }

@media (max-width: 479px) {
  h1 {
    font-size: 12vw; }
  h2 {
    font-size: 5vw; }
  header {
    text-align: center; }
  #logo img {
    max-width: 60vw; } }

@media (max-height: 520px) and (min-height: 481px) {
  header {
    padding-top: 30px; }
  #see-this-on-github {
    top: 20px;
    right: 20px; } }

@media (max-height: 480px) {
  #see-this-on-github {
    display: none; } }

/*# sourceMappingURL=css.css.map */