@font-face {
  font-family: 'oscar';
  src: url('/fonts/oscar/oscar.eot');
  src: url('/fonts/oscar/oscar.eot?#iefix') format('embedded-opentype'), url('/fonts/oscar/oscar.woff2') format('woff2'), url('/fonts/oscar/oscar.woff') format('woff'), url('/fonts/oscar/oscar.ttf') format('truetype'), url('/fonts/oscar/oscar.svg#uala') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'maison-neue-bold';
  src: url('/fonts/maison-neue/maison-neue_bold.eot');
  src: url('/fonts/maison-neue/maison-neue_bold.eot?#iefix') format('embedded-opentype'), url('/fonts/oscar/oscar.woff2') format('woff2'), url('/fonts/maison-neue/maison-neue_bold.woff') format('woff'), url('/fonts/maison-neue/maison-neue_bold.ttf') format('truetype'), url('/fonts/maison-neue/maison-neue_bold.svg#uala') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'brandon-grotesque-regular';
  src: url('/fonts/brandon-grotesque/brandon-grotesque_regular.eot');
  src: url('/fonts/brandon-grotesque/brandon-grotesque_regular.eot?#iefix') format('embedded-opentype'),
  url('/fonts/brandon-grotesque/brandon-grotesque_regular.woff2') format('woff2'),
  url('/fonts/brandon-grotesque/brandon-grotesque_regular.woff') format('woff'),
  url('/fonts/brandon-grotesque/brandon-grotesque_regular.ttf') format('truetype'),
  url('/fonts/brandon-grotesque/brandon-grotesque_regular.svg#brandongrotesque-regularbook') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'brandon-grotesque-medium';
  src: url('/fonts/brandon-grotesque/brandon-grotesque_medium.eot');
  src: url('/fonts/brandon-grotesque/brandon-grotesque_medium.eot?#iefix') format('embedded-opentype'),
  url('/fonts/brandon-grotesque/brandon-grotesque_medium.woff2') format('woff2'),
  url('/fonts/brandon-grotesque/brandon-grotesque_medium.woff') format('woff'),
  url('/fonts/brandon-grotesque/brandon-grotesque_medium.ttf') format('truetype'),
  url('/fonts/brandon-grotesque/brandon-grotesque_medium.svg#brandongrotesque-mediumbook') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'futura-lt-book';
  src: url('/fonts/futura-lt/futuralt-book.eot');
  src: url('/fonts/futura-lt/futuralt-book.eot?#iefix') format('embedded-opentype'),
  url('/fonts/futura-lt/futuralt-book.woff2') format('woff2'),
  url('/fonts/futura-lt/futuralt-book.woff') format('woff'),
  url('/fonts/futura-lt/futuralt-book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'futura-lt-heavy';
  src: url('/fonts/futura-lt/futuralt-heavy.eot');
  src: url('/fonts/futura-lt/futuralt-heavy.eot?#iefix') format('embedded-opentype'),
  url('/fonts/futura-lt/futuralt-heavy.woff2') format('woff2'),
  url('/fonts/futura-lt/futuralt-heavy.woff') format('woff'),
  url('/fonts/futura-lt/futuralt-heavy.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'futura-lt-light';
  src: url('/fonts/futura-lt/futuralt-light.eot');
  src: url('/fonts/futura-lt/futuralt-light.eot?#iefix') format('embedded-opentype'),
  url('/fonts/futura-lt/futuralt-light.woff2') format('woff2'),
  url('/fonts/futura-lt/futuralt-light.woff') format('woff'),
  url('/fonts/futura-lt/futuralt-light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'futura-lt-regular';
  src: url('/fonts/futura-lt/futuralt.eot');
  src: url('/fonts/futura-lt/futuralt.eot?#iefix') format('embedded-opentype'),
  url('/fonts/futura-lt/futuralt.woff2') format('woff2'),
  url('/fonts/futura-lt/futuralt.woff') format('woff'),
  url('/fonts/futura-lt/futuralt.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

.icon {
  font-family: 'oscar';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hat:before {
  content: "\e800";
}
.icon-phone:before {
  content: "\e801";
}
.icon-email:before {
  content: "\e802";
}
.icon-facebook:before {
  content: "\e803";
}
.icon-google:before {
  content: "\e804";
}
.icon-twitter:before {
  content: "\e805";
}
.icon-linkedin:before {
  content: "\e806";
}
.icon-github:before {
  content: "\e807";
}
.icon-skype:before {
  content: "\e808";
}